<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".about_the" %>
  <%= link_to t(".about_ror_tutorial"), Settings.home_page %>
  <%= t ".about_part" %>
  <%= link_to t(".about_learn_enough"), Settings.learnenough %>
  <%= t ".about_family_tutorial" %>
  <%= link_to t(".about_book"), Settings.book_page %>
  <%= t(".about_and") %>
  <%= link_to t(".about_screencast"), Settings.screencasts %>
  <%= t ".about_development" %>
  <%= link_to t(".about_ror"), Settings.home_page %>
  <%= t ".about_sample_tutorial" %>
</p>
