<% provide :title, t(".help_title") %>
<h1><%= t ".help_title"  %></h1>
<p>
  <%= t ".help_content0" %>
  <%= link_to t(".help_content1"), Settings.help_page %>
  <%= t ".help_content2" %>
  <%= link_to t(".help_content3"), Settings.book_page %>
</p>
